{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registeration</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<style>
    .center {
  margin: auto;
  width: 50%;

  padding: 10px;
}
</style>
<body style="background-image:url({% static 'images/login.jpg' %})">
<div class="center">
<h2 style="color:#FFC300;text-align:center;">REGISTRATION</h2>

    <form action="register" method="post">
         {% csrf_token %}
        <input class="form-control form-control-lg" type="text" name="username" placeholder="Enter your Username"><br>
        <input class="form-control form-control-lg" type="text" name="first_name" placeholder="Enter your First name"><br>
        <input class="form-control form-control-lg" type="text" name="last_name" placeholder="Enter your Last name"><br>
        <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your Email"><br>
        <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your Password"><br>
        <input class="form-control form-control-lg" type="password" name="password1" placeholder="Confirm your password"><br>
        <input class="btn btn-dark mb-2" type="submit">
    </form>
    {% for msg in messages%}
    <h2 style="color:red;">{{msg}}</h2>
    {% endfor %}
</div>
</body>
</html>